<h2>Règlement :<h2>

	<blockquote>
		<p>Tie-Break = <strong>5 points</strong></p>
		<p>Match non officiel à 1 set gagnant = <strong>25 points</strong></p>
		<p><s>Match non officiel à 2 set gagnant = <strong>50 points</strong></s></p>
		<p><s>Match non officiel à 3 set gagnant = <strong>100 points</strong></s></p>
		<p><s>Match officiel contre un adversaire moins bien classé = <strong>100 points</strong></s></p>
		<p><s>Match officiel contre un adversaire classé au même niveau = <strong>150 points</s></p>
		<p><s>Match officiel contre un adversaire mieux classé = <strong>200 points</strong></s></p>
	</blockquote>


    <h2>Disclaimer</h2>
    <blockquote>
        <p>I consider myself a MongoDB, ExpressJS, AngularJS and NodeJS n00b.</p>
    </blockquote>

    <h2>TODO</h2>
    <blockquote>
        <p>Gestion des matchs à plusieurs sets</p>
        <p>Ajouter la possibilité de modifier le joueur 1 (différent du joueur connecté)</p>
        <p>Pondérer les points lors d'une victoire par rapport au niveau de l'adversaire</p>
    </blockquote>
