<h2>Règlement :<h2>

	<blockquote>
		<p>Tie-Break = <strong>5 points</strong></p>
		<p>Match non officiel à 1 set gagnant = <strong>25 points</strong></p>
		<p>Match non officiel à 2 set gagnant = <strong>50 points</strong></p>
		<p>Match non officiel à 3 set gagnant = <strong>100 points</strong></p>
		<p><s>Match officiel contre un adversaire moins bien classé = <strong>100 points</strong></s></p>
		<p><s>Match officiel contre un adversaire classé au même niveau = <strong>150 points</s></p>
		<p><s>Match officiel contre un adversaire mieux classé = <strong>200 points</strong></s></p>
	</blockquote>


    <h2>Disclaimer</h2>
    <blockquote>
        <p>I consider myself a MongoDB, ExpressJS, AngularJS and NodeJS n00b.</p>
    </blockquote>

    <h2>TODO</h2>
    <blockquote>
        <p>Mettre des données</p>
        <p>Rendre le site responsive</p>
        <p><s>Gestion des matchs à plusieurs sets</s></p>
        <p>Servir l'appli par un nginx</p>
        <p>Ajouter la possibilité de modifier le joueur 1 (différent du joueur connecté)</p>
        <p>Pondérer les points lors d'une victoire par rapport au niveau de l'adversaire</p>
        <p>Mettre en place des badges :p</p>
        <p>Filtrer sur autre chose que le user 1 pour la page d'accueil</p>
        <p>Faire une page citant technos et ressources</p>
        <p>Rediriger vers la page de login si non connecté</p>
        <p>Backuper les données</p>
        <p>Lancer les serveurs mongodb et expressjs en services</p>
    </blockquote>
