<section data-ng-controller="GamesController" data-ng-init="find()">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date du match</th>
                <th>Moi</th>
                <th>Adversaire</th>
                <th>Mon Score</th>
                <th>Score de mon adversaire</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="game in games"  ng-class="{'success': game.details.victory}">
                <div data-ng-show="global.user._id == game.user._id">
                    <td>{{game.date | date:'dd-MM-yyyy'}}</td> 
                    <td>{{game.user.firstName}}</td>
                    <td>{{game.opponent.user.firstName}}</td>
                    <td>{{game.myScore}}</td>
                    <td>{{game.opponent.score}}</td>
                    <td><a data-ng-href="#!/games/{{game._id}}">Détails</a></td>
                </div>
            </tr>

        </tbody>
    </table>

    <h1 data-ng-hide="!games || games.length">No games yet. <br> Why don't you <a href="/#!/games/create">Create One</a>?</h1>
</section>