<section data-ng-controller="GamesController" data-ng-init="find()">

    <h1>Historique de tous les résultats</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date du match</th>
                <th>Moi (ou Joueur 1)</th>
                <th>Adversaire</th>
                <th>Points en jeu</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="game in games | orderBy:'date':true ">
                    <td>{{game.date | date:'dd-MM-yyyy'}}</td>
                    <td>{{game.user.firstName}} <span ng-show="game.details.victory" class="label label-success">Victoire</span></td>
                    <td>{{game.opponent.user.firstName}} <span ng-hide="game.details.victory" class="label label-success">Victoire</span></td>
                    <td>{{game.details.points}}</td>
                    <td><a data-ng-href="#!/games/{{game._id}}">Détails</a></td>
               </tr>

        </tbody>
    </table>

    <h1 data-ng-hide="!games || games.length">No games yet. <br> Why don't you <a href="/#!/games/create">Create One</a>?</h1>
</section>