<span class="label label-warning">En cours d'amélioration (Design et mise en page)</span>

<section data-ng-controller="GamesController" data-ng-init="findOne()">

    <h2>Match du {{game.date | date:'dd-MM-yyyy'}}</h2>
    <h2>{{game.user.firstName}} {{game.user.lastName}} VS {{game.opponent.user.firstName}} {{game.opponent.user.lastName}}</h2>
    <h2>Détails du match</h2>
    <h2>{{game.score.scoreOpponent1}} - {{game.score.scoreOpponent2}}</h2>
    <h3>Type de match : {{game.details.typeOfGame}}</h3>
    <h3>Surface : {{game.details.surface}}</h3>
    <!--h3>Officiel ? : {{game.details.official}}</h3-->
    <h3>Nombre de points en jeu : {{game.details.points}}</h3>
    <div data-ng-show="global.user._id == game.user._id">
        Edition et suppression non fonctionnels encore...
        <a class="btn" href="/#!/game/{{game._id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>

    <span>Match enregistré le : {{game.created | date:'dd-MM-yyyy HH:mm'}}</span>
</section>
