extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    p.error= message
    .control-group
      label.control-label(for='email') Identifiant
      .controls
        input#email(type='text', name="email", placeholder='Identifiant')

    .control-group
      label.control-label(for='password') Mot de passe
      .controls
        input#password(type='password', name="password", placeholder='Mot de passe')

    .form-actions
      button.btn.btn-primary(type='submit') Se connecter
      &nbsp;
      // | ou&nbsp;
      // a.show-signup(href="/signup") S'enregistrer

   p.well compte de test : anthony / anthony