<h2>Version</h2>
<blockquote>0.0.1</blockquote>

<h2>Disclaimer</h2>
<blockquote>
    <p>I consider myself a MongoDB, ExpressJS, AngularJS and NodeJS beginner.</p>
</blockquote>

<h2>Technologies utilisées</h2>
<blockquote>
    <ul>
        <li>Mean : <a target="_blank" href ="http://mean.io">http://mean.io</a></li>
        <ul>
            <li>MongoDb : <a target="_blank" href ="http://www.mongodb.org/">http://www.mongodb.org/</a></li>
            <li>ExpressJS : <a target="_blank" href ="http://expressjs.com/">http://expressjs.com/</a></li>
            <li>AngularJS : <a target="_blank" href ="http://angularjs.org/">http://angularjs.org/</a></li>
            <li>NodeJS : <a target="_blank" href ="http://www.nodejs.org/">http://www.nodejs.org/</a></li>
        </ul>
        <li>NPM : <a target="_blank" href=""https://npmjs.org/‎">https://npmjs.org/‎</a></li>
        <li>Bower : <a target="_blank" href ="http://bower.io">http://bower.io</a></li>
        <li>Grunt : <a target="_blank" href ="http://gruntjs.com">http://gruntjs.com</a></li>
        <li>jqPlot : <a target="_blank" href ="http://www.jqplot.com/">http://www.jqplot.com/</a></li>
        <li>UI.Chart : <a target="_blank" href ="http://angular-ui.github.io/ui-chart/">http://angular-ui.github.io/ui-chart/</a></li>
        <li>Twitter Bootstrap : <a target="_blank" href ="http://getbootstrap.com/2.3.2/">http://getbootstrap.com/2.3.2/</a></li>
        <li>momenjs : <a target="_blank" href ="http://momentjs.com/">http://momentjs.com/</a></li>
        <li>jQuery : <a target="_blank" href ="http://jquery.com/">http://jquery.com/</a></li>
    </ul>
</blockquote>


<h2>Sources</h2>

<blockquote>
    <p>Github : <a target="_blank" href="https://github.com/acolas/mean-tennis-app">https://github.com/acolas/mean-tennis-app</a></p>
</blockquote>

<h2>TODO</h2>
<blockquote>
    <p><s>Mettre des données</s></p>
    <p>Ajouter la possibilité de modifier son compte</p>
    <p>Ajouter la possibilité de modifier/supprimer un match</p>
    <p><s>Rendre le site responsive</s></p>
    <p>Améliorer le rendu du détail d'un match</p>
    <p><s>Gestion des matchs à plusieurs sets</s></p>
    <p><s>Servir l'appli par un nginx</s></p>
    <p>Ajouter la possibilité de modifier le joueur 1 (différent du joueur connecté)</p>
    <p>Pondérer les points lors d'une victoire par rapport au niveau de l'adversaire</p>
    <p>Mettre en place des badges :p</p>
    <p>Filtrer sur autre chose que le user 1 pour la page d'accueil</p>
    <p><s>Faire une page citant technos et ressources</s></p>
    <p><s>Rediriger vers la page de login si non connecté</s></p>
    <p><s>Backuper les données</s></p>
    <p><s>Lancer les serveurs mongodb et expressjs en services</s></p>
    <p>Ajouter des filtres sur les listes</p>
    <p>Faire des controles sur les champs</p>
    <p>Afficher des messages si les listes / graphs / tableaux sont vides</p>
    <p>Optimiser les performances...</p>
</blockquote>
